<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Website haqida</h1>
    <p>
       Bu Websahifani yaratishda html5 dan foydalanildi, o`tgan darslarda o`tilgan mavzularni takrorlab, bilimlar mustahkamlandi,
       Taglardan: video, audio, img, h1, a, p, hr va boshqa taglardan foydalanildi. 
    </p>
    <hr>
    <h1>Nimalarni o`rgandim</h1>
    <p> Video, audio, img taglaridan foydalanishni,
        a tagidan foydalanib linklar yozishni,
        papka va fayllar yaratishni o`rgandim, 
        source yozganda papka joyini ko`rsatishni o`rgandim.
        Ushbu websahifa darsda o`tilgan mavzularni mustahkamlash uchun yaratildi. Katta rahmat!
    </p>
    <hr>
    <h1>O`tilgan mavzudagi darsliklar bo`yicha savol javoblar</h1>
    <ol>
        <li><i>video tagi</i>- video joylash uchun ishlatiladi</li>
        <ul>
            <li>src- bu attribute video audio img taglari uchun required hisoblanadi, fayl joyini nomini ko`rsatish un ishlatiladi</li>
            <li>controls-play, ovoz va boshqa video un kerak bo`ladigan nastroykalarni chiqarib beradi</li>
            <li>loop-video tugab o`zi boshlanadi qaytadan</li>
            <li>autoplay- avtomatik tarzda o`zi play bo`ladi</li>
            <li>muted- ovozsiz qilish</li>
        </ul>
        <li><i>audio tagi</i>- audio joylashsh uchun ishlatiladi, video tagida ishlatilgan barcha attributelarni
        bu yerda ham ishlatishimiz mumkin</li>
        <li><i>img tagi</i>-empty tag bo`lib rasm qo`yish uchun ishlatiladi.</li>
        <ul>
            <li>src-rasm joyini ko`rsatish</li>
            <li>width-kengligi</li>
            <li>height-uzunligi</li>
        </ul>
        <li><i>a tagi</i>-biror bir ma`lumotni boshqa ma`lumotga ulash uchun ishlatiladi</li>
    </ol>
    <hr>
    <a href='/main.html'>Main page</a>
    <br>
</body>
</html>