<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audios</title>
</head>
<body>
    <h1>Audiolar To`plami</h1>
    <audio controls>
        <source src='/components/video/[MV] Solar(솔라) _ Where the Wind Rises(바람이 불어오는 곳) (192 kbps).mp3'>
    </audio> Controls<br>
    <audio controls loop>
        <source src='/components/video/[MV] Solar(솔라) _ Where the Wind Rises(바람이 불어오는 곳) (192 kbps).mp3'>
    </audio>Controls loop<br>
    <audio controls loop autoplay>
        <source src='/components/video/[MV] Solar(솔라) _ Where the Wind Rises(바람이 불어오는 곳) (192 kbps).mp3'>
    </audio> Controls loop autoplay<br>
    <audio controls loop muted>
        <source src='/components/video/[MV] Solar(솔라) _ Where the Wind Rises(바람이 불어오는 곳) (192 kbps).mp3'>
    </audio> Controls loop muted<br>
    <hr>
    <a href='/main.html'>Main page</a>
</body>
</html>