<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>
    <h1>Qushlar</h1>
    <img width='250px' height='250px'src='/components/image/bird1.jpeg'>
    <img width='250px' height='250px' src='/components/image/bird2.jpeg'>
    <img width='250px' height='250px' src='/components/image/bird3.jpeg'>
    <img width='250px' height='250px'src='/components/image/bird4.jpeg'>
    <h1>Mashinalar</h1>
    <img width='250px' height='250px' src='/components/image/car1.jpeg'>
    <img width='250px' height='250px' src='/components/image/car2.jpeg'>
    <img width='250px' height='250px' src='/components/image/car3.jpg'>
    <img width='250px' height='250px' src='/components/image/car4.jpeg'>
    <img width='250px' height='250px' src='/components/image/car5.jpeg'>
    <h1>Umumiy</h1>
    <img width='250px' height='250px' src='/components/image/other1.jpeg'>
    <img width='250px' height='250px' src='/components/image/other2.jpeg'>
    <img width='250px' height='250px' src='/components/image/other3.jpeg'>
    <img width='250px' height='250px' src='/components/image/other4.jpeg'>
    <img width='250px' height='250px' src='/components/image/other5.jpeg'>
    <img width='250px' height='250px' src='/components/image/other6.jpg'>
    <hr>
    <a href='/main.html'>Main page</a>
    <br>
    
</body>
</html>