<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Video Gallery</h1>
    <video width='300px' height='500px'controls>
        <source src='/components/video/video1.mp4'>
    </video>
    <h1>Controls va loop</h1>
    <video width='300px' height='500px'controls loop>
        <source src='/components/video/video2.mp4'>
    </video>
    <h1>Controls loop autoplay</h1>
    <video width='300px' height='500px' controls loop autoplay>
        <source src='/components/video/video2.mp4'>
    </video>
    <h1>Controls loop autoplay muted</h1>
    <video width='450px' height='250px' controls loop autoplay muted>
        <source src='/components/video/video3.mp4'>
    </video>yonma yon joylashgan va controls
    <video width='300px' height='300px' controls loop>
        <source src='/components/video/video1.mp4'>
    </video>yonma yon joylashgan va controls loop
    <video width='300px' height='500px' controls loop>
        <source src='/components/video/video2.mp4'>
    </video>yonma yon joylashgan va controls loopautoplay
    <video width='300px' height='500px'controls loop autoplay>
        <source src='/components/video/video1.mp4'>
    </video>
    <video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video>
    <video controls width='300px' height='500px' >
        <source src='/components/video/video2.mp4'>
    </video>
    <video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video>
    <video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video>
    <video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video>
    <video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video><video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video><video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video><video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video><video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video><video controls width='300px' height='500px'>
        <source src='/components/video/video2.mp4'>
    </video>
    <br>
    <hr>
    <a href='/main.html'>Main page</a>
    <br>
    <br>
    <br>
</body>
</html>