<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why?</title>
</head>
<body>
 <h1>Bu sohani nega tanladim?</h1>
 <hr>
 <p><blockquote>
    Bu sohaga faqat qiziqishim sabab kirib keldim. Qiziqishim kuchli ekaniga bir misol,
    bu yerdagi bor ishimdan voz kechganim. Koreys bolalarga Crevill bog`chasida dars berardim English teacher
    bo`lib, oyligim ham yomon emas edi, ammo IT ga bo`lgan qiziqishim kuchliroq ekan. O`ylaymanki bunda
    manga Webbrain mentorlari yordam berishadi.Hammangizga katta rahmat!
 </blockquote></p>  
 <hr>
 <a href='/main.html'>Main page</a>
</body>
</html>